# Dependencies
node_modules
npm-debug.log

# Next.js
.next
out

# Testing
coverage

# Misc
.DS_Store
*.pem

# Debug
*.log

# Local env files
.env
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Git
.git
.gitignore

# IDE
.vscode
.idea

# Claude
.claude

# Cloudflare
.wrangler
